<!-- Utils - Start -->
<input type="checkbox" id="check">
<label for="check" id="labelcheck" (click)="toRight()">
  <fa-icon [icon]="faBars" id="checkbtn"></fa-icon>
</label>
<!-- Utils - End -->

<!-- Sidebar - Start -->
<div class="sidebar">
  <header>
    <div class="d-flex justify-content-between">
      <h4 class="pt-2 pl-3 cursor-pointer font-weight-light" [routerLink]="['/video']">
        <span class="font-weight-bold">#</span>DeepMedia</h4>
      <label class="pr-2 pt-1" for="check" id="labelcheckCancel" (click)="toLeft()">
        <fa-icon [icon]="faTimes" id="checkbtncancel"></fa-icon>
      </label>
    </div>
    <div class="row w-100 pl-2 py-2">
      <img [src]="User_Channel? (URL_STORAGE + User_Channel.avatar.path | saveDom) : (UnknownUserAvatar | saveDom)"
           [alt]="User_Channel? User_Channel.avatar.name : 'UnknownUserAvatar'"
           class="img-fluid rounded-circle img-sidebar">
      <div class="d-flex flex-column">
        <span class="user-header pl-2 font-weight-light cursor-pointer"
              [routerLink]="User_Channel ? ['/auth/profile',User_Channel.id] : '/video/categories'">
          {{User_Channel ? User_Channel.user.username : 'Anonymous'}}
        </span>
        <div class="pl-2 d-flex align-content-center">
          <span class="info-header font-weight-bold">{{User_Channel ? 'Conectado' : 'Desconectado'}}</span>
          <fa-icon [icon]="faCircle" [class.text-success]="User_Channel" [class.text-danger]="!User_Channel"
                   [classes]="['pl-1', 'pb-1']"></fa-icon>
        </div>
      </div>
      <button type="button" aria-label="Toggle Theme" mat-icon-button (click)="toggleTheme()"
              class="theme-icon-toggle">
        <fa-icon [icon]="lightTheme ? faMoon : faSun" [class.text-white-50]="lightTheme"
                 [style.fontSize.px]="18"></fa-icon>
      </button>
    </div>
  </header>
  <ul>
    <li *ngIf="User_Channel">
      <a [routerLink]="['/auth/profile',User_Channel.id]">
        <fa-icon [icon]="faUserAlt"></fa-icon>
        Perfil</a>
    </li>
    <li>
      <a class="link-dropdown" (click)="slideToggleCategories()">
        <fa-icon [icon]="faStream"></fa-icon>
        <span>Categorías</span>
        <fa-icon [icon]="toggleCategories ? faAngleUp : faAngleDown" id="DropdownCategories"></fa-icon>
      </a>
      <div id="Categories" class="dropdown-sidebar">
        <ul>
          <li><a [routerLink]="['/video/list','gameplay']">
            <fa-icon [icon]="faGamepad"></fa-icon>
            Gameplay</a></li>
          <li><a [routerLink]="['/video/list','joke']">
            <fa-icon [icon]="faSmileWink"></fa-icon>
            Humor</a></li>
          <li><a [routerLink]="['/video/list','musical']">
            <fa-icon [icon]="faMusic"></fa-icon>
            Musical</a></li>
          <li><a [routerLink]="['/video/list','tech']">
            <fa-icon [icon]="faAtom"></fa-icon>
            Tecnología</a></li>
          <li><a [routerLink]="['/video/list','interesting']">
            <fa-icon [icon]="faLightbulb"></fa-icon>
            Interesantes</a></li>
          <li><a [routerLink]="['/video/list','tutorial']">
            <fa-icon [icon]="faUserGraduate"></fa-icon>
            Tutoriales</a></li>
        </ul>
      </div>
    </li>
    <li>
      <a class="link-dropdown" (click)="slideToggleOptions()">
        <fa-icon [icon]="faCogs"></fa-icon>
        <span>Opciones</span>
        <fa-icon [icon]="toggleOptions ? faAngleUp : faAngleDown" id="DropdownOptions"></fa-icon>
      </a>
      <div id="Options" class="dropdown-sidebar">
        <ul>
          <li *ngIf="User_Channel">
            <a [routerLink]="['/video/favorites']">
              <span class="link-options">
                <mat-icon>star_border</mat-icon>&nbsp;Mis Favoritos
              </span>
            </a></li>
          <li *ngIf="User_Channel"><a [routerLink]="['/video/new-video']">
            <span class="link-options">
                <mat-icon>fiber_new</mat-icon>&nbsp;Nuevo Video
              </span></a></li>
          <li (click)="openDialog()"><a>
            <span class="link-options">
                <mat-icon>find_in_page</mat-icon>&nbsp;Buscar
              </span></a></li>
          <li *ngIf="User_Channel" (click)="openBot()"><a>
            <span class="link-options">
                <mat-icon>bug_report</mat-icon>&nbsp;Bot_DeepMedia
              </span></a></li>
        </ul>
      </div>
    </li>
    <li *ngIf="User_Channel" (click)="makeLogout()">
      <a>
        <fa-icon [icon]="faSignOutAlt"></fa-icon>
        Cerrar Sesión</a>
    </li>
    <li *ngIf="!User_Channel" [routerLink]="['/auth/register']">
      <a>
        <fa-icon [icon]="faUserPlus"></fa-icon>
        Registrarme</a>
    </li>
    <li *ngIf="!User_Channel" [routerLink]="['/auth/login']">
      <a>
        <fa-icon [icon]="faSignInAlt"></fa-icon>
        Iniciar Sesión</a>
    </li>
  </ul>
  <footer class="w-100">
    <span class="text-white font-weight-light"><mat-icon inline>copyright</mat-icon>
      {{year}} ZahiriNatZuke.</span>
  </footer>
</div>
<!-- Sidebar - End -->

<!-- Media-Links - Start -->
<section class="social">
  <div><a class="social-link mat-elevation-z8">
    <img id="facebook" [src]="URL_ASSETS + 'img/ico/facebook.ico' | saveDom" alt="facebook">
  </a></div>
  <div><a class="social-link mat-elevation-z8">
    <img id="linkedin" [src]="URL_ASSETS + 'img/ico/linkedin.ico' | saveDom" alt="linkedin">
  </a></div>
  <div><a class="social-link mat-elevation-z8">
    <img id="twitter" [src]="URL_ASSETS + 'img/ico/twitter.ico' | saveDom" alt="twitter">
  </a></div>
</section>
<!-- Media-Links - End -->
