<!-- Utils - Start -->
<input type="checkbox" id="check">
<label for="check" id="labelcheck" (click)="toRight()">
  <fa-icon [icon]="faBars" id="checkbtn"></fa-icon>
</label>
<!-- Utils - End -->

<!-- Sidebar - Start -->
<div class="sidebar">
  <header>
    <div class="d-flex justify-content-between">
      <h4 class="pt-2 pl-3 cursor-pointer font-weight-light" [routerLink]="['/video']">
        <span class="font-weight-bold">#</span>DeepMedia</h4>
      <label class="pr-2 pt-1" for="check" id="labelcheckCancel" (click)="toLeft()">
        <fa-icon [icon]="faTimes" id="checkbtncancel"></fa-icon>
      </label>
    </div>
    <div class="row w-100 pl-2 py-2">
      <img [src]="status_login? URL_STORAGE + User_Channel.avatar.path : UnknownUserAvatar"
           [alt]="status_login? User_Channel.avatar.name : 'UnknownUserAvatar'"
           class="img-fluid rounded-circle img-sidebar">
      <div class="d-flex flex-column">
        <span *ngIf="status_login" class="user-header pl-2 font-weight-light cursor-pointer"
              [routerLink]="['/auth/profile',User_Channel.id]">{{User_Channel.user.username}}</span>
        <span *ngIf="!status_login" class="user-header pl-2 font-weight-light cursor-pointer">
          Anonymous
        </span>
        <div class="pl-2 d-flex align-content-center">
          <span *ngIf="status_login" class="info-header font-weight-bold">Conectado</span>
          <span *ngIf="!status_login" class="info-header font-weight-bold">Desconectado</span>
          <fa-icon *ngIf="status_login" [icon]="faCircle" [classes]="['text-success','pl-1', 'pb-1']"></fa-icon>
          <fa-icon *ngIf="!status_login" [icon]="faCircle" [classes]="['text-danger','pl-1', 'pb-1']"></fa-icon>
        </div>
      </div>
    </div>
  </header>
  <ul>
    <li *ngIf="status_login">
      <a [routerLink]="['/auth/profile',User_Channel.id]">
        <fa-icon [icon]="faUserAlt"></fa-icon>
        Perfil</a>
    </li>
    <li>
      <a class="link-dropdown" (click)="slideToggleCategories()">
        <fa-icon [icon]="faStream"></fa-icon>
        <span>Categorías</span>
        <fa-icon [icon]="toggleCategories ? faAngleUp : faAngleDown" id="DropdownCategories"></fa-icon>
      </a>
      <div id="Categories" class="dropdown-sidebar">
        <ul>
          <li><a [routerLink]="['/video/list','gameplay']">Gameplay</a></li>
          <li><a [routerLink]="['/video/list','joke']">Humor</a></li>
          <li><a [routerLink]="['/video/list','musical']">Musical</a></li>
          <li><a [routerLink]="['/video/list','tech']">Tecnología</a></li>
          <li><a [routerLink]="['/video/list','interesting']">Interesantes</a></li>
          <li><a [routerLink]="['/video/list','tutorial']">Tutoriales</a></li>
        </ul>
      </div>
    </li>
    <li>
      <a class="link-dropdown" (click)="slideToggleOptions()">
        <fa-icon [icon]="faCogs"></fa-icon>
        <span>Opciones</span>
        <fa-icon [icon]="toggleOptions ? faAngleUp : faAngleDown" id="DropdownOptions"></fa-icon>
      </a>
      <div id="Options" class="dropdown-sidebar">
        <ul>
          <li *ngIf="status_login"><a [routerLink]="['/video/favorites',1]">Mis Favoritos</a></li>
          <li *ngIf="status_login"><a [routerLink]="['/video/new-video']">Nuevo Video</a></li>
          <li (click)="openDialog()"><a>Buscar</a></li>
        </ul>
      </div>
    </li>
    <li *ngIf="status_login" (click)="makeLogout()" [routerLink]="['/video/categories']">
      <a>
        <fa-icon [icon]="faSignOutAlt"></fa-icon>
        Cerrar Sesión</a>
    </li>
    <li *ngIf="!status_login" [routerLink]="['/auth/register']">
      <a>
        <fa-icon [icon]="faUserPlus"></fa-icon>
        Registrarme</a>
    </li>
    <li *ngIf="!status_login" [routerLink]="['/auth/login']">
      <a>
        <fa-icon [icon]="faSignInAlt"></fa-icon>
        Iniciar Sesión</a>
    </li>
  </ul>
  <footer class="w-100">
    <span class="text-white font-weight-light">&copy; {{year}} ZahiriNatZuke.</span>
  </footer>
</div>
<!-- Sidebar - End -->

<!-- Media-Links - Start -->
<section class="social">
  <div><a class="social-link mat-elevation-z8">
    <img id="facebook" [src]="URL_ASSETS + 'img/ico/facebook.ico'" alt="facebook">
  </a></div>
  <div><a class="social-link mat-elevation-z8">
    <img id="linkedin" [src]="URL_ASSETS + 'img/ico/linkedin.ico'" alt="linkedin">
  </a></div>
  <div><a class="social-link mat-elevation-z8">
    <img id="twitter" [src]="URL_ASSETS + 'img/ico/twitter.ico'" alt="twitter">
  </a></div>
</section>
<!-- Media-Links - End -->
