* {
  padding: 0;
  margin: 0;
  text-decoration: none !important;
  list-style: none !important;
}

//Sidebar

.sidebar {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background: #042331;
  transition: all 0.5s ease;

  header {
    color: white;
    text-align: start;
    background: #063146;
    user-select: none;

    #checkbtncancel {
      font-size: 26px;
      color: white;
      padding: 0 7px;
      transition: all 0.5s ease;
    }

    .img-sidebar {
      min-width: 50px;
      width: 60px;
      max-width: 70px;
    }

    .user-header {
      line-height: 25px;
      padding-top: 8px;
      font-size: 20px;
    }

    .info-header {
      line-height: 18px;
      font-size: 14px;
    }

  }

  .dropdown-sidebar {
    background: #042a38;

    ul {

      li:hover a {
        padding-left: 70px;
        color: #5c76cb;
      }

      a {
        display: block;
        height: 100%;
        width: 100%;
        line-height: 40px;
        font-size: 16px;
        padding-left: 50px;
        box-sizing: border-box;
        border-top: 1px solid rgba(255, 255, 255, 0.1);
        border-bottom: 1px solid black;
        transition: 0.4s;
        cursor: pointer;
      }

      fa-icon {
        margin-right: 16px;
      }

    }

  }

  ul {

    li:hover a {
      padding-left: 50px;
    }

    a {
      display: block;
      height: 100%;
      width: 100%;
      line-height: 50px;
      font-size: 20px;
      color: white;
      padding-left: 40px;
      box-sizing: border-box;
      border-top: 1px solid rgba(255, 255, 255, 0.1);
      border-bottom: 1px solid black;
      transition: 0.4s;

      fa-icon {
        margin-right: 16px;
      }

    }
  }

  .link-dropdown {
    user-select: none;
    cursor: pointer;
  }

  footer {
    background: #042331;
    position: absolute;
    bottom: 0;
    z-index: 1030;
    padding: 6px 0;
    border-top: 1px solid black;
    box-shadow: 0 -2px 7px 0 rgba(0, 0, 0, .5);

    span {
      margin-left: 40px;
      user-select: none;
    }
  }

}

#check {
  display: none;
}

#labelcheck, #labelcheckCancel {
  margin-bottom: 0 !important;
  cursor: pointer;
}

#checkbtn, #checkbtncancel {
  cursor: pointer;
}

#DropdownCategories, #DropdownOptions {
  cursor: pointer;
  padding-left: 10px;
}

#checkbtn {
  background: #042331;
  border-radius: 3px;
  position: fixed;
  left: 20px;
  top: 25px;
  font-size: 28px;
  color: white;
  padding: 0 8px;
  transition: all 0.5s;
}

#check:checked ~ {
  .sidebar {
    left: 0;
  }

  label #checkbtn {
    left: 250px;
    opacity: 0;
    pointer-events: none;
  }

  section.p-sidebar {
    margin-left: 250px;
    padding-left: 5px;
  }

  .social {
    left: -100px;
    transition: all .4s;
  }

}

.cursor-pointer {
  cursor: pointer;
}

//Social Links

.social {
  position: fixed;
  left: 0;
  top: 250px;
  transition: all .4s;
  user-select: none;
}

.social-link {
  background: #042331;
  line-height: 40px;
  font-size: 32px;
  transition: all .5s;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.social-link:hover {
  padding-left: 20px;
  transition: all .5s;
}

.social-link img {
  padding: 0 4px 8px 4px;
}
