.mat-chip-list-wrapper .mat-standard-chip {
  margin: 0 !important;
}

mat-progress-bar {
  margin-top: 5px;
}

.no-select {
  user-select: none;
}

.chip-stats {
  font-size: 18px;
  height: 18px;
  line-height: 18px;
  width: inherit;
  user-select: none;
}

@media all and (min-width: 901px) and (max-width: 949.98px) {
  .chip-info {
    display: none !important;
  }

  mat-label {
    font-size: 14px;
  }
}
