<div class="d-flex flex-column w-100">
  <div class="d-flex justify-content-between">
    <mat-label class="font-weight-bold">AVG {{statsName}}</mat-label>
    <mat-chip-list>
      <mat-chip color="primary" class="mb-1 chip-stats" selected (click)="up = !up">
        <mat-icon>{{up ? 'arrow_upward' : 'arrow_downward'}}</mat-icon>
        <mat-icon class="mx-1" inline>{{icon}}</mat-icon>
        <span class="font-weight-bold no-select"
              [textContent]="up?
              ((statsDetail.max || 0 | statsFilter | number:'.0-2') + (statsDetail.max > 1000 ? ' k' : '')) :
              ((statsDetail.min || 0 | statsFilter | number:'.0-2') + (statsDetail.min > 1000 ? ' k' : ''))">
        </span>
      </mat-chip>
    </mat-chip-list>
  </div>
  <mat-progress-bar matTooltip="AVG: {{statsDetail.avg | number:'.0-2'}}" matTooltipPosition="before" color="primary"
                    mode="determinate" [value]="percent(statsDetail.max)">
  </mat-progress-bar>
</div>
