<div class="container-video-player">

  <video id="video-player" class="video-player mat-elevation-z5" [volume]="currentVolumen / 100"
         [height]="setHeightPoster()" (ended)="endVideo()" [width]="widthVideo"
         (durationchange)="emitDurationVideo($event)">
    <source [src]="video.video | saveDom" [type]="video.type">
    Your browser do not support HTML5 video.
  </video>

  <div id="poster" class="poster mat-elevation-z15">
    <img [src]="video.poster | saveDom" class="img-poster" [alt]="video.poster"
         [style.width.px]="widthVideo + 4" [style.height.px]="setHeightPoster() + 6">
    <button id="btn-play" mat-icon-button class="text-white btn-play mat-elevation-z15" (click)="hidePoster()"
            [class.d-none]="checkVideoPicture()">
      <fa-icon [icon]="faPlayCircle"></fa-icon>
    </button>
  </div>

  <div id="control-bar" class="control-bar d-flex">

    <button mat-button (click)="playPause()" class="play-pause-btn">
      <fa-icon [icon]="played ? faPause : faPlay"></fa-icon>
    </button>

    <div id="volumen-control" class="volumen-control d-flex flex-column" (mouseover)="showVolumenSlider()"
         (mouseleave)="hideVolumenSlider()">
      <mat-slider #volumenControl id="volumen-slider" class="volumen-slider" min="0" max="100" color="primary"
                  tickInterval="25" vertical (mouseover)="setVolumenSlider()" [value]="currentVolumen"
                  [disabled]="mutedVideo"
                  (valueChange)="changeVolumen(volumenControl.value)" (mouseleave)="unsetVolumenSlider()">
      </mat-slider>
      <button mat-button class="volumen-btn" id="volumen-btn" (click)="toggleMutedVideo()">
        <mat-icon id="volume-control">{{mutedVideo ? 'volume_off' : currentVolumen === 0 ?
            'volume_mute' : currentVolumen <= 50 ? 'volume_down' : 'volume_up'}}</mat-icon>
      </button>
    </div>

    <mat-slider #videoProgress color="primary" id="progress-bar-video" class="progress-bar-video" [min]="0"
                (input)="seekingVideo(videoProgress.value)" [tickInterval]="30" [max]="videoPlayer.duration"
                [(value)]="currentTime" [style.width.px]="setWidthProgressBar()">
    </mat-slider>

    <mat-chip-list>
      <mat-chip selected color="primary" class="timer"><span>{{currentTime | timer}}</span></mat-chip>
    </mat-chip-list>

    <button mat-button (click)="makeBig()" class="fullscreen-btn">
      <mat-icon>fullscreen</mat-icon>
    </button>

    <button *ngIf="widthVideo > 360" (click)="toPicture()" mat-button class="to-picture-btn">
      <mat-icon>picture_in_picture_alt</mat-icon>
    </button>

  </div>
</div>

