* {
  user-select: none;
  outline: none;
}

.container-video-player {
  position: relative;
  display: initial;
}

.video-player {
  transition: all .4s;
}

video {
  border-radius: 4px;
}

video:hover ~ {
  .control-bar {
    opacity: 1;
  }
}

.control-bar {
  color: white;
  position: absolute;
  bottom: 3px;
  width: 100%;
  height: 40px;
  background: rgba(83, 83, 83, 0.35);
  transition: all .4s;
  padding: 2px 0;
  opacity: 0;
}

.control-bar:hover {
  opacity: 1;
}

.playPause-btn {
  position: relative;
  left: 3px;
}

.volumen-btn {
  position: relative;
  left: 3px;
}

.volumen-slider {
  background: rgba(83, 83, 83, 0.35);
  border-radius: 20px 20px 0 0;
  position: absolute;
  bottom: 40px;
  left: 44px;
  min-height: 100px;
  padding-bottom: 5px;
}

.progress-bar-video {
  position: relative;
  left: 5px;
  bottom: 5px;
  transition: all .4s;
}

.timer {
  opacity: .87;
  position: relative;
  bottom: -2px;
  padding: 4px 8px;
  left: 8px;
  width: 70px;
}

.fullScreen-btn {
  position: relative;
  left: 5px;
  padding: 0 8px;
}

.mat-button {
  min-width: unset;
}

.poster {
  position: absolute;
  bottom: 3px;
  padding: 0;
  width: 100%;
  z-index: 3;
}

.img-poster {
  width: 100%;
  border-radius: 4px;
  transition: all .4s;
}

.img-poster:hover ~ {
  .btn-play {
    opacity: 1;
  }

  .control-bar {
    opacity: 0;
  }
}

.btn-play {
  position: absolute;
  transition: all 0.4s;
  opacity: 0;
  background: #042331;
  border: 2px solid white;
}

.btn-play:hover {
  opacity: 1;
}
