<section>
  <div class="main">
    <div class="center">
      <mat-card class="mat-elevation-z15 card-main">
        <mat-card-title class="d-flex justify-content-center">
          <h1 class="f-title-form">
            <fa-icon [icon]="faLock" [classes]="['p-1', 'mt-1']"></fa-icon>&nbsp;|&nbsp;Cambiar Contraseña
          </h1>
        </mat-card-title>
        <form [formGroup]="newPasswordForm" (ngSubmit)="onSubmit()">
          <input type="hidden" name="username" [value]="User_Channel.user.username">
          <mat-card-content class="px-3">
            <mat-form-field class="w-100 mt-1" appearance="outline">
              <mat-label>Contraseña Actual</mat-label>
              <input matInput [type]="hideCP ? 'password' : 'text'" formControlName="current_password" required
                     autocomplete="current-password">
              <button type="button" mat-icon-button matSuffix (click)="hideCP = !hideCP" tabIndex="-1">
                <fa-icon [icon]="hideCP ?  faEye : faEyeSlash"></fa-icon>
              </button>
              <mat-error *ngIf="checkValid('current_password')">{{checkRequired('current_password')}}</mat-error>
              <mat-error *ngIf="checkValid('current_password')">{{checkMinLength('current_password')}}</mat-error>
            </mat-form-field>
            <mat-form-field class="w-100 mt-1" appearance="outline">
              <mat-label>Contraseña Nueva</mat-label>
              <input matInput [type]="hideNP ? 'password' : 'text'" formControlName="new_password" required
                     autocomplete="new-password">
              <button type="button" mat-icon-button matSuffix (click)="hideNP = !hideNP" tabIndex="-1">
                <fa-icon [icon]="hideNP ?  faEye : faEyeSlash"></fa-icon>
              </button>
              <mat-error *ngIf="checkValid('new_password')">{{checkRequired('new_password')}}</mat-error>
              <mat-error *ngIf="checkValid('new_password')">{{checkMinLength('new_password')}}</mat-error>
            </mat-form-field>
            <mat-form-field class="w-100 mt-1" appearance="outline">
              <mat-label>Confirmación de Contraseña Nueva</mat-label>
              <input matInput [type]="hideNPC ? 'password' : 'text'" formControlName="new_password_confirmation"
                     required [pattern]="newPasswordForm.get('new_password').value" autocomplete="new-password">
              <button type="button" mat-icon-button matSuffix (click)="hideNPC = !hideNPC" tabIndex="-1">
                <fa-icon [icon]="hideNPC ?  faEye : faEyeSlash"></fa-icon>
              </button>
              <mat-error
                      *ngIf="checkValid('new_password_confirmation')">{{checkRequired('new_password_confirmation')}}
              </mat-error>
              <mat-error
                      *ngIf="checkValid('new_password_confirmation')">{{checkMinLength('new_password_confirmation')}}
              </mat-error>
              <mat-error>Las Contraseñas no coinciden</mat-error>
            </mat-form-field>
          </mat-card-content>
          <mat-card-actions class="mt-1 d-flex justify-content-around">
            <button mat-raised-button color="primary" type="reset" [routerLink]="['/auth/profile', User_Channel.id]"
                    class="btn w-25">{{'Cancelar' | uppercase}}</button>
            <button [disabled]="newPasswordForm.invalid" mat-raised-button color="primary" type="submit"
                    class="btn w-25">{{'Cambiar' | uppercase}}</button>
          </mat-card-actions>
        </form>
      </mat-card>
    </div>
  </div>
</section>



