section {
  height: 100vh;
  margin-top: -24px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.center {
  align-self: center;
}

.f-title-form {
  font: 400 32px/40px Roboto, "Helvetica Neue", sans-serif;
}

.h-36 {
  height: 36px;
}

.btn {
  border-radius: 16px;
}

.card-main {
  display: flex;
  flex-direction: column;
  margin: 0 2rem;
  flex: 1 0 66.66%;
}

@media all and (max-width: 575.98px) {
  .f-title-form {
    font: 400 26px/36px Roboto, "Helvetica Neue", sans-serif;
    width: max-content;
  }

  .btn {
    font-size: 14px;
  }

  .w-25 {
    width: 35% !important;
  }
}


