section {
  height: 100vh;
  margin-top: -24px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.center {
  align-self: center;
}

.f-title-form {
  font: 400 32px/40px Roboto, "Helvetica Neue", sans-serif;
}

.h-36 {
  height: 36px;
}

.btn {
  border-radius: 16px;
}


