mat-accordion * {
  user-select: none;
}

.m-grid-list {
  margin: 0 20px;
}

.mat-progress-bar {
  width: 97%;
}

.mat-icon-button {
  font-size: 45px;
  width: 50px;
  height: 50px;
}

.mat-action-row {
  padding: 0 8px;
}

.o-scroll {
  overflow-y: scroll;
}

.material-icons {
  position: relative;
  top: 4px;
  margin-right: 12px;
  font-size: 30px;
}

@media all and (max-width: 599.98px) {
  .m-grid-list {
    margin: 20px 3rem;
  }
}

@media all and (min-width: 600px) and (max-width: 900px) {
  .m-grid-list {
    margin: 20px 20%;
  }
}
