<div [id]="'progressBar'" class="d-flex justify-content-center">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
<mat-grid-list [id]="'Profile'" cols="3" [rowHeight]="rowHeight" gutterSize="10px" class="m-grid-list">
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <app-profile-card class="w-100"></app-profile-card>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="2" [rowspan]="1" id="right-side">
    <app-profile-form></app-profile-form>
    <mat-card id="right-card" class="w-100 h-100">
      <div class="d-flex w-100 justify-content-center">
        <h3 class="font-weight-bold align-self-center">No Tiene Videos Disponibles</h3>
      </div>
      <mat-accordion *ngIf="byComments && byLikes && byViews">
        <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <b>Más Likes</b>
            </mat-panel-title>
            <mat-panel-description>
              {{byLikes.title}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <app-profile-top-video-card [video]="byLikes"></app-profile-top-video-card>
          <mat-action-row>
            <button mat-icon-button color="primary" (click)="nextStep()">
              <fa-icon [icon]="faAngleDown"></fa-icon>
            </button>
          </mat-action-row>
        </mat-expansion-panel>
        <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <b>Más Vistas</b>
            </mat-panel-title>
            <mat-panel-description>
              {{byViews.title}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <app-profile-top-video-card [video]="byViews"></app-profile-top-video-card>
          <mat-action-row>
            <button mat-icon-button color="warn" (click)="prevStep()">
              <fa-icon [icon]="faAngleUp"></fa-icon>
            </button>
            <button mat-icon-button color="primary" (click)="nextStep()">
              <fa-icon [icon]="faAngleDown"></fa-icon>
            </button>
          </mat-action-row>
        </mat-expansion-panel>
        <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <b>Más Comentarios</b>
            </mat-panel-title>
            <mat-panel-description>
              {{byComments.title}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <app-profile-top-video-card [video]="byComments"></app-profile-top-video-card>
          <mat-action-row>
            <button mat-icon-button color="warn" (click)="prevStep()">
              <fa-icon [icon]="faAngleUp"></fa-icon>
            </button>
          </mat-action-row>
        </mat-expansion-panel>
      </mat-accordion>
      <div class="d-flex justify-content-center mt-1">
        <button *ngIf="Videos && Videos.length > 0" mat-icon-button (click)="showAllVideos()">
          <fa-icon matTooltip="Ver Todos los Videos" matTooltipPosition="right" class="text-muted"
                   [icon]="faAngleUp"></fa-icon>
        </button>
      </div>
      <cdk-virtual-scroll-viewport orientation="vertical" id="all-videos" itemSize="1" class="h-100 customized-scroll">
        <div class="card-columns m-0 w-100">
          <app-profile-video-card [Video]="item" *cdkVirtualFor="let item of Videos"></app-profile-video-card>
        </div>
      </cdk-virtual-scroll-viewport>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>


