<mat-grid-list cols="3" [rowHeight]="rowHeight" gutterSize="10px" class="m-grid-list">
  <mat-grid-tile [colspan]="1" [rowspan]="1" class="mat-elevation-z10">
    <app-profile-card class="w-100"></app-profile-card>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="2" [rowspan]="1" class="mat-elevation-z10" id="right-side">
    <app-profile-form></app-profile-form>
    <mat-card id="right-card" class="w-100 h-100">
      <mat-accordion>
        <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <b>Más Likes</b>
            </mat-panel-title>
            <mat-panel-description>
              Video Top Likes #1
            </mat-panel-description>
          </mat-expansion-panel-header>
          <app-profile-top-video-card [video]="videoArray[0]"></app-profile-top-video-card>
          <mat-action-row>
            <button mat-icon-button color="primary" (click)="nextStep()">
              <fa-icon [icon]="faAngleDown"></fa-icon>
            </button>
          </mat-action-row>
        </mat-expansion-panel>
        <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <b>Más Vistas</b>
            </mat-panel-title>
            <mat-panel-description>
              Video Top Views #1
            </mat-panel-description>
          </mat-expansion-panel-header>
          <app-profile-top-video-card [video]="videoArray[1]"></app-profile-top-video-card>
          <mat-action-row>
            <button mat-icon-button color="warn" (click)="prevStep()">
              <fa-icon [icon]="faAngleUp"></fa-icon>
            </button>
            <button mat-icon-button color="primary" (click)="nextStep()">
              <fa-icon [icon]="faAngleDown"></fa-icon>
            </button>
          </mat-action-row>
        </mat-expansion-panel>
        <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <b>Más Comentarios</b>
            </mat-panel-title>
            <mat-panel-description>
              Video Top Comments #1
            </mat-panel-description>
          </mat-expansion-panel-header>
          <app-profile-top-video-card [video]="videoArray[2]"></app-profile-top-video-card>
          <mat-action-row>
            <button mat-icon-button color="warn" (click)="prevStep()">
              <fa-icon [icon]="faAngleUp"></fa-icon>
            </button>
          </mat-action-row>
        </mat-expansion-panel>
      </mat-accordion>
      <div class="d-flex justify-content-center mt-1">
        <button mat-icon-button (click)="showAllVideos()">
          <fa-icon matTooltip="Ver Todos los Videos" matTooltipPosition="right" class="text-muted"
                   [icon]="faAngleUp"></fa-icon>
        </button>
      </div>
      <cdk-virtual-scroll-viewport id="all-videos" itemSize="1" class="h-100">
        <div class="card-columns m-0 w-100">
          <app-profile-video-card *cdkVirtualFor="let item of ds"></app-profile-video-card>
        </div>
      </cdk-virtual-scroll-viewport>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>

