<div class="d-flex justify-content-center progress-bar-znz">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
<mat-grid-list [id]="'Profile'" cols="3" [rowHeight]="rowHeight" gutterSize="10px" class="m-grid-list"
               [style.height.px]="rowHeight">
  <mat-grid-tile [colspan]="colSpanProfileCard" [rowspan]="1">
    <app-profile-card class="w-100"></app-profile-card>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="colSpanStatsCard" [rowspan]="1" id="right-side">
    <app-profile-form></app-profile-form>
    <mat-card id="right-card" class="w-100 h-100">
      <div *ngIf="Videos && Videos.length === 0 && !byDownload && !byLikes && !byViews"
           class="d-flex w-100 justify-content-center">
        <h3 class="align-self-center">
          <mat-icon>mood_bad</mat-icon>
          No Tiene Videos Disponibles
        </h3>
      </div>
      <mat-accordion *ngIf="byDownload && byLikes && byViews">
        <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <b>Más Likes</b>
            </mat-panel-title>
            <mat-panel-description>
              {{byLikes.title}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <app-profile-top-video-card [video]="byLikes"></app-profile-top-video-card>
          <mat-action-row>
            <button mat-icon-button color="primary" (click)="nextStep()">
              <fa-icon [icon]="faAngleDown"></fa-icon>
            </button>
          </mat-action-row>
        </mat-expansion-panel>
        <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <b>Más Vistas</b>
            </mat-panel-title>
            <mat-panel-description>
              {{byViews.title}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <app-profile-top-video-card [video]="byViews"></app-profile-top-video-card>
          <mat-action-row>
            <button mat-icon-button color="warn" (click)="prevStep()">
              <fa-icon [icon]="faAngleUp"></fa-icon>
            </button>
            <button mat-icon-button color="primary" (click)="nextStep()">
              <fa-icon [icon]="faAngleDown"></fa-icon>
            </button>
          </mat-action-row>
        </mat-expansion-panel>
        <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <b>Más Descargas</b>
            </mat-panel-title>
            <mat-panel-description>
              {{byDownload.title}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <app-profile-top-video-card [video]="byDownload"></app-profile-top-video-card>
          <mat-action-row>
            <button mat-icon-button color="warn" (click)="prevStep()">
              <fa-icon [icon]="faAngleUp"></fa-icon>
            </button>
          </mat-action-row>
        </mat-expansion-panel>
      </mat-accordion>
      <div class="d-flex justify-content-center mt-1">
        <button *ngIf="Channel && Channel.videos && Channel.videos.length > 0" mat-icon-button
                (click)="showAllVideos()">
          <fa-icon matTooltip="Ver Todos los Videos" matTooltipPosition="right" class="text-muted"
                   [icon]="faAngleUp"></fa-icon>
        </button>
      </div>
      <cdk-virtual-scroll-viewport orientation="vertical" id="all-videos" itemSize="1"
                                   class="h-100 customized-scroll">
        <div class="row m-0 w-100">
          <app-profile-video-card [Video]="item" *cdkVirtualFor="let item of Videos"
                                  class="col-sm-12 col-md-12 col-lg-6 col-xl-6"></app-profile-video-card>
        </div>
      </cdk-virtual-scroll-viewport>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>


