<div class="card mb-8 w-100">
  <img [src]="URL_STORAGE + video.poster.path | saveDom" class="w-100 h-100 rounded h-img" [alt]="video.poster.name">
  <div class="justify-content-start text-white">
    <div class="d-flex p-data info-text-user">
      <p class="m-0 p-0" [routerLink]="['/auth/profile',video.channel_id]">
        <span>#</span>{{video.channel.user.username}}
      </p>
    </div>
    <div class="info-text-title" (click)="goToVideo()">
      <p [class.switch-text]="video.title.length > 35">{{video.title}}</p>
    </div>
  </div>
  <div class="text-white info-user font-weight-light">
    <span class="font-weight-light">{{video.created_at | agoDate}}</span>
    <div>
      <span>{{video.likes_count | statsFilter | number:'.0-2'}}
        {{video.likes_count > 1000 ? ' k' : ''}}
        <fa-icon [icon]="faThumbsUp" class="px-2"></fa-icon></span>
      <span>{{video.comments_count | statsFilter | number:'.0-2'}}
        {{video.comments_count > 1000 ? ' k' : ''}}
        <fa-icon [icon]="faComment" class="px-2"></fa-icon></span>
      <span>{{video.views_count | statsFilter | number:'.0-2'}}
        {{video.views_count > 1000 ? ' k' : ''}}
        <fa-icon [icon]="faEye" class="px-2"></fa-icon></span>
      <span>{{video.downloads_count | statsFilter | number:'.0-2'}}
        {{video.downloads_count > 1000 ? ' k' : ''}}
        <fa-icon [icon]="faFileDownload" class="px-2"></fa-icon></span>
    </div>
  </div>
  <fa-icon *ngIf="isFavorite()" [id]="'icon-like'" [icon]="faStar" class="pl-3"></fa-icon>
  <button mat-icon-button class="text-white btn-play">
    <fa-icon (click)="goToVideo()" [icon]="faPlayCircle"></fa-icon>
  </button>
  <img class="user-img" [src]="URL_STORAGE + video.channel.avatar.path | saveDom"
       [routerLink]="['/auth/profile',video.channel_id]" [alt]="video.channel.avatar.name">
</div>

