.w-60 {
  width: 60% !important
}

.w-35 {
  width: 35% !important
}

.w-95 {
  width: 95% !important;
}

.mat-button {
  min-width: unset;
  padding: 0 10px;
  font-size: 18px;
}

.icon-line {
  height: 36px;
}

.golden-star {
  color: gold;
}

.mat-icon-button {
  font-size: 24px;
  width: 30px;
  height: 30px;
}

.select-none {
  user-select: none;
}

