.w-89 {
  width: 89% !important;
  transition: all .4s;
}

.w-87 {
  width: 87% !important;
  transition: all .4s;
}

.w-60 {
  width: 60% !important;
  transition: all .4s;
}

.w-35 {
  width: 35% !important;
  transition: all .4s;
}

.w-95 {
  width: 95% !important;
  transition: all .4s;
}

.w-16{
  width: 16% !important;
  transition: all .4s;
}

.w-14 {
  width: 14% !important;
  transition: all .4s;
}

.w-43 {
  width: 43% !important;
  transition: all .4s;
}

.lm-top {
  margin-top: -12px;
}

.mat-button {
  min-width: unset;
  padding: 0 10px;
  font-size: 18px;
}

.icon-line {
  height: 36px;
}

.golden-star {
  color: gold;
}

.mat-icon-button {
  font-size: 24px;
  width: 30px;
  height: 30px;
}

.select-none {
  user-select: none;
}

.container-line-stars {
  height: 20px;
}

.line-star {
  height: 2px;
  z-index: 1;
}

.star {
  z-index: 2;
  cursor: pointer;
}
