<mat-card class="w-100 p-top mat-elevation-z8">
  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()" [id]="'profileForm'">
    <mat-card-title class="d-flex justify-content-between">
      <h1 class="f-title-form">Información del Usuario</h1>
      <button mat-raised-button [disabled]="profileForm.pristine" color="primary" class="h-button"
              type="submit">{{'Guardar' | uppercase}}</button>
    </mat-card-title>
    <mat-card-content>
      <div class="d-flex d-xs-mmd-flex">
        <div class="col">
          <mat-form-field class="w-100 mt-3" appearance="outline">
            <mat-label>Nombre Completo</mat-label>
            <input matInput type="text" formControlName="fullname">
            <mat-error *ngIf="checkValid('fullname')">{{checkRequired('fullname')}}</mat-error>
            <mat-error *ngIf="checkValid('fullname')">{{checkMinLength('fullname')}}</mat-error>
          </mat-form-field>
          <mat-form-field class="w-100 mt-3" appearance="outline">
            <mat-label>Usuario</mat-label>
            <input matInput type="text" formControlName="username">
            <mat-error *ngIf="checkValid('username')">{{checkRequired('username')}}</mat-error>
            <mat-error *ngIf="checkValid('username')">{{checkMinLength('username')}}</mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="w-100 mt-3" appearance="outline">
            <mat-label>Correo Electrónico</mat-label>
            <input matInput type="email" formControlName="email" email autocomplete="username">
            <mat-error *ngIf="checkValid('email')">{{checkRequired('email')}}</mat-error>
            <mat-error *ngIf="checkValid('email')">{{checkEmail('email')}}</mat-error>
          </mat-form-field>
          <div class="custom-file">
            <input type="file" class="custom-file-input d-none" id="imgFile" (change)="onChange($event)"
                   formControlName="avatar">
            <label class="custom-file-label" for="imgFile"
                   [class.label-dark]="currentTheme.theme === 'dark-theme'"
                   [class.label-light]="currentTheme.theme === 'light-theme'">
              Actualizar Imagen del Perfil</label>
          </div>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <div class="d-flex justify-content-center mt-3">
        <button mat-raised-button color="primary" class="h-button" type="submit" [routerLink]="['/auth/new-password']">
          <fa-icon [icon]="faLock" [classes]="['mr-2']"></fa-icon>
          {{'Cambiar Contraseña' | uppercase}}</button>
      </div>
    </mat-card-actions>
  </form>
</mat-card>
