<div id="video-card" class="card mb-8 w-100">
  <img src="../../../assets/img/view.jpg" class="w-100 h-100 rounded h-img">
  <div class="justify-content-start">
    <p class="font-weight-bold m-0 p-0 pl-2 info-text-title w-75" [routerLink]="['/video/view',1]">
      Streaming | UCi Video #1</p>
  </div>
  <div class="text-white info-user font-weight-light">
    <span class="font-weight-light">hace un momento</span>
    <div>
      <span>1000<fa-icon [icon]="faThumbsUp" class="px-2"></fa-icon></span>
      <span>1000<fa-icon [icon]="faComment" class="px-2"></fa-icon></span>
      <span>1000<fa-icon [icon]="faEye" class="px-2"></fa-icon></span>
    </div>
  </div>
  <fa-icon [id]="'icon-like'" [icon]="faStar" class="pl-3"></fa-icon>
  <button mat-icon-button class="text-white btn-play" (click)="emitPlayVideo()">
    <fa-icon [routerLink]="['/video/view',1]" [icon]="faPlayCircle"></fa-icon>
  </button>
  <img class="user-img" src="../../../assets/img/user.jpg" [routerLink]="['/auth/profile',1]">
</div>
