* {
  padding: 0;
  margin: 0;
  text-decoration: none !important;
  list-style: none !important;
}

.card {
  height: 225px;
}

.user-img {
  height: 90px;
  width: 90px;
  position: absolute;
  right: 10px;
  bottom: -40px;
  border: 3px solid #fff;
  border-radius: 180px;
  transition: all 0.4s ease;
}

.p-data {
  padding-top: 3px;
  padding-left: 10px;
  transition: all .4s;
}

.info-user {
  left: 0;
  bottom: 0;
  position: absolute;
  transition: all 0.4s;
  opacity: 0;
  user-select: none;

  > span, > div {
    margin-left: 17px;
  }

  > div {
    margin-bottom: 10px;
  }

}


.info-user:hover {
  opacity: 1;
}

.h-img {
  opacity: 1;
  transition: all 0.4s;
}

.h-img:hover {
  opacity: 0.8;
  transition: all 0.4s;
}

.btn-play {
  left: 39%;
  bottom: 30%;
  position: absolute;
  transition: all 0.4s;
  opacity: 0;
  cursor: initial;
  font-size: 80px;
  width: 90px;
  height: 90px;
}

.btn-play:hover {
  opacity: 1;
  cursor: pointer;
}

.h-img:hover ~ {

  .info-user, .btn-play {
    opacity: 1;
  }

  .user-img {
    height: 80px;
    width: 80px;
    position: absolute;
    right: 10px;
    bottom: -35px;
    border: 2px solid #fff;
    border-radius: 180px;
  }

}

.mb-8 {
  margin-bottom: 50px;
}

.info-text-user {
  font-size: 16px;
  transition: all .4s;
}

.info-text-title {
  font-size: 18px;
  line-height: 22px;
  height: 22px;
  overflow: hidden;
  width: 97% !important;
  cursor: pointer;
}

.info-text-title:hover {
  font-weight: bold;
}

#icon-like {
  position: absolute;
  top: 10px;
  right: 10px;
  color: gold;
}
