<section>
  <div class="main">
    <div class="center">
      <mat-card class="mx-10 mat-elevation-z15">
        <mat-card-title class="d-flex justify-content-center">
          <h1 class="pl-3 f-title-form">Registro de Usuario</h1>
        </mat-card-title>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <div class="d-flex">
            <div class="col">
              <mat-form-field class="w-100 mt-3" appearance="outline">
                <mat-label>Nombre Completo</mat-label>
                <input matInput type="text" formControlName="fullname" required>
                <mat-error *ngIf="checkValid('fullname')">{{checkRequired('fullname')}}</mat-error>
                <mat-error *ngIf="checkValid('fullname')">{{checkMinLength('fullname')}}</mat-error>
              </mat-form-field>
              <mat-form-field class="w-100 mt-3" appearance="outline">
                <mat-label>Usuario</mat-label>
                <input matInput type="text" formControlName="username" required>
                <mat-error *ngIf="checkValid('username')">{{checkRequired('username')}}</mat-error>
                <mat-error *ngIf="checkValid('username')">{{checkMinLength('username')}}</mat-error>
              </mat-form-field>
              <mat-form-field class="w-100 mt-3" appearance="outline">
                <mat-label>Correo Electrónico</mat-label>
                <input matInput type="email" formControlName="email" required email>
                <mat-error *ngIf="checkValid('email')">{{checkRequired('email')}}</mat-error>
                <mat-error *ngIf="checkValid('email')">{{checkEmail('email')}}</mat-error>
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field class="w-100 mt-3" appearance="outline">
                <mat-label>Contraseña</mat-label>
                <input matInput [type]="hideP ? 'password' : 'text'" formControlName="password" required autocomplete>
                <button type="button" mat-icon-button matSuffix (click)="hideP = !hideP" tabIndex="-1">
                  <fa-icon [icon]="hideP ?  faEye : faEyeSlash"></fa-icon>
                </button>
                <mat-error *ngIf="checkValid('password')">{{checkRequired('password')}}</mat-error>
                <mat-error *ngIf="checkValid('password')">{{checkMinLength('password')}}</mat-error>
              </mat-form-field>
              <mat-form-field class="w-100 mt-3" appearance="outline">
                <mat-label>Confirmar Contraseña</mat-label>
                <input matInput [type]="hideC ? 'password' : 'text'" formControlName="password_confirmation" required
                       autocomplete
                       [pattern]="registerForm.get('password').value">
                <button type="button" mat-icon-button matSuffix (click)="hideC = !hideC" tabIndex="-1">
                  <fa-icon [icon]="hideC ?  faEye : faEyeSlash"></fa-icon>
                </button>
                <mat-error
                  *ngIf="checkValid('password_confirmation')">{{checkRequired('password_confirmation')}}</mat-error>
                <mat-error
                  *ngIf="checkValid('password_confirmation')">{{checkMinLength('password_confirmation')}}</mat-error>
                <mat-error>Las Contraseñas no coinciden</mat-error>
              </mat-form-field>
              <mat-chip-list tabIndex="-1">
                <mat-chip selected color="primary" class="link-login" [routerLink]="['/auth/login']">
                  <a> Ya tengo cuenta. </a>
                </mat-chip>
              </mat-chip-list>
              <button [disabled]="registerForm.invalid" mat-raised-button color="primary" type="submit"
                      class="btn-register">{{'Registrar' | uppercase}}</button>
            </div>
          </div>
        </form>
      </mat-card>
    </div>
  </div>
</section>
