section {
  height: 100vh;
  margin-top: -24px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.center {
  align-self: center;
}

.f-title-form {
  font: 400 32px/40px Roboto, "Helvetica Neue", sans-serif;
}

.link-login {
  text-decoration: none;
  color: white;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: .1rem;
  cursor: pointer;
}

.link-login:hover {
  color: #f0f0f0;
}

.btn-next {
  border-radius: 16px;
}

.h-36 {
  height: 36px;
}

.card-main {
  display: flex;
  flex-direction: column;
  margin: 0 14rem;
  flex: 1 0 66.66%;
}

@media all and (max-width: 575.98px) {
  .flex-sm-column {
    display: -ms-flexbox !important;
    display: flex !important;
    flex-direction: column !important;
  }

  .card-main {
    margin: 3rem 2rem;
  }

  .f-title-form {
    font: 400 26px/32px Roboto, "Helvetica Neue", sans-serif;
    width: max-content;
  }

  .link-login {
    font-size: 8px;
    text-transform: uppercase;
    letter-spacing: .05rem;
  }

  .btn-register {
    font-size: 12px;
  }

  .mt-4 {
    margin-top: .25rem !important
  }
}

@media all and (max-width: 1199.98px) {
  .link-login {
    letter-spacing: .05rem;
  }

  .btn-register {
    font-size: 12px;
  }

  .w-50 {
    width: 40% !important;
  }
}

