<section>
  <div class="main">
    <div class="center">
      <mat-card [class.mat-elevation-z15]="!errorLogin" [class.mat-elevation-z5]="errorLogin">
        <mat-card-title class="d-flex justify-content-center">
          <h1 class="pl-3 f-title-form">
            <fa-icon [icon]="faKey" [classes]="['p-1', 'mt-1']"></fa-icon>&nbsp;|&nbsp;Inicio de Sesión
          </h1>
        </mat-card-title>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="d-flex">
            <div class="col">
              <mat-form-field class="w-100 mt-1" appearance="outline">
                <mat-label>Usuario</mat-label>
                <input matInput type="text" formControlName="username" required autocomplete="username">
                <mat-error *ngIf="checkValid('username')">{{checkRequired('username')}}</mat-error>
                <mat-error *ngIf="checkValid('username')">{{checkMinLength('username')}}</mat-error>
              </mat-form-field>
              <mat-form-field class="w-100 mt-1" appearance="outline">
                <mat-label>Contraseña</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" required
                       autocomplete="current-password">
                <button type="button" mat-icon-button matSuffix (click)="hide = !hide" tabIndex="-1">
                  <fa-icon [icon]="hide ?  faEye : faEyeSlash"></fa-icon>
                </button>
                <mat-error *ngIf="checkValid('password')">{{checkRequired('password')}}</mat-error>
                <mat-error *ngIf="checkValid('password')">{{checkMinLength('password')}}</mat-error>
              </mat-form-field>
              <div class="mt-1 d-flex justify-content-between">
                <mat-chip-list>
                  <mat-chip selected color="primary" [routerLink]="['/auth/register']" class="h-36">
                    <a class="link-register"> Aún no tengo cuenta. </a>
                  </mat-chip>
                </mat-chip-list>
                <button [disabled]="loginForm.invalid" mat-raised-button color="primary" type="submit"
                        class="w-50 btn-login">{{'Iniciar' | uppercase}}</button>
              </div>
            </div>
          </div>
        </form>
      </mat-card>
      <mat-card *ngIf="errorLogin" [class]="'mt-2'">
        <mat-card-content class="card-content">
          <a [class.text-dark]="currentTheme.theme === 'light-theme'"
             [class.text-white]="currentTheme.theme === 'dark-theme'"
             [routerLink]="['/auth/reset-password']">¿Has olvidado tu contraseña?</a>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</section>


