.mat-button {
  border: 2px solid #b4b4b4;
  margin: 4px 0 0;
  height: 60px;
}

.avatar-user {
  width: 60px;
  height: 60px;
}

.cursor-pointer {
  cursor: pointer;
}

.username {
  line-height: 25px;
  font-size: 20px;
  border: none;
  background-color: transparent;
  font-weight: lighter;
}

.username:hover {
  font-weight: bold;
}

.user-container {
  line-height: 55px;
  align-items: center;
  align-self: center;
  overflow-x: hidden;
}

.material-icons {
  position: relative;
  top: 4px;
  margin-right: 12px;
  font-size: 30px;
}

.no-result, .user-result, .video-result {
  align-self: center;
  text-align: center !important;
  font: 400 30px/48px Roboto, "Helvetica Neue", sans-serif;
}

@media all and (max-width: 575.98px) {
  .no-result, .user-result, .video-result {
    font: 400 26px/32px Roboto, "Helvetica Neue", sans-serif;
  }
}
