section {
  height: 100vh;
  margin-top: -24px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.center {
  align-self: center;
}

.f-title {
  font: 400 32px/40px Roboto, "Helvetica Neue", sans-serif;
}

.f-subtitle {
  font: 400 20px/40px Roboto, "Helvetica Neue", sans-serif;
}

.btn-register {
  border-radius: 16px;
}

.list-item {
  display: flex;
  margin: 16px 16px 0 16px;
  padding: 12px;
  border-radius: 8px;
  font-size: 20px;
}

.list-container {
  min-height: 300px;
  max-height: 445px;
  padding: 5px;
  transition: all .5s;
}

