<section>
  <div class="main">
    <div class="center w-50">
      <mat-card *ngIf="show" class="mat-elevation-z15">
        <mat-card-title class="d-flex justify-content-center mb-0">
          <h1 class="f-title">
            <fa-icon [icon]="faList" [classes]="['p-1', 'mt-1']"></fa-icon>&nbsp;|&nbsp;Lista Secreta
          </h1>
        </mat-card-title>
        <mat-card-subtitle class="d-flex justify-content-center mb-0">
          <h2 class="f-subtitle">Esta lista será requerida en caso de olvidarse su contraseña.</h2>
        </mat-card-subtitle>
        <mat-card-content>
          <div class="d-flex ">
            <div class="col list-container">
              <div *ngFor="let item of secret_list;let i = index;">
                <div class="list-item mat-elevation-z4 px-3" *ngIf="i % 2 === 0">
                  <small>{{i + 1}} - {{item}}</small>
                </div>
              </div>
            </div>
            <div class="col list-container">
              <div *ngFor="let item of secret_list;let i = index;">
                <div class="list-item mat-elevation-z4 px-3" *ngIf="i % 2 !== 0">
                  <small>{{i + 1}} - {{item}}</small>
                </div>
              </div>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions class="pb-3">
          <div class="d-flex justify-content-around">
            <mat-checkbox color="primary" class="align-self-center" [(ngModel)]="checked">
              Aceptar el sistema de recuperación de contraseña
            </mat-checkbox>
            <button [disabled]="!checked" mat-raised-button color="primary" type="submit"
                    class="btn-register align-self-center" (click)="sendData()">
              {{'Registrar' | uppercase}}
            </button>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</section>

