section {
  height: 100vh;
  margin-top: -24px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.center {
  align-self: center;
}

.f-title {
  font: 400 32px/40px Roboto, "Helvetica Neue", sans-serif;
}

.f-subtitle {
  font: 400 20px/40px Roboto, "Helvetica Neue", sans-serif;
}

.btn-register {
  border-radius: 16px;
}

.list-item {
  display: flex;
  justify-content: center;
  flex-grow: 0;
  width: auto;
  margin: 16px 16px 0 16px;
  padding: 12px;
  border-radius: 8px;
  font-size: 20px;
}

.list-container {
  display: flex;
  flex-direction: column;
  padding: 5px;
  transition: all .5s;
  width: auto;
}

.card-main {
  display: flex;
  flex-direction: column;
  margin: 0 2rem;
  flex: 1 0 66.66%;
}

.label-checkbox {
  position: relative;
  top: -6px;
  font: 400 16px/32px Roboto, "Helvetica Neue", sans-serif;
}

@media all and (max-width: 575.98px) {
  .f-title {
    font: 400 28px/34px Roboto, "Helvetica Neue", sans-serif;
    width: max-content;
  }

  .f-subtitle {
    font: 400 16px/30px Roboto, "Helvetica Neue", sans-serif;
    width: max-content;
  }

  .label-checkbox {
    font: 400 14px/28px Roboto, "Helvetica Neue", sans-serif;
    width: max-content;
  }

  .card-main {
    margin: 5rem;
    width: 340px;
  }

  .list-container {
    width: 100%;
  }

  .d-sm-none {
    display: none !important;
  }

  .flex-sm-column {
    -ms-flex-direction: column !important;
    flex-direction: column !important;
  }

  .justify-content-sm-center {
    -ms-flex-pack: center !important;
    justify-content: center !important;
  }
}
