.f-title-card {
  font: 300 24px/40px Roboto, "Helvetica Neue", sans-serif;
  transition: all .3s;
  cursor: initial;
  user-select: none;
}

mat-card-actions {
  margin-bottom: 0 !important;
  padding: 0 !important;
}

.h-button {
  height: 35px;
  transition: all 0.5s ease;
}

#closeAllVideos {
  font-size: 28px;
  transition: all 0.5s ease;
}

.counter {
  border: 2px solid #505050;
  border-radius: 4px;
  padding: 3px 8px;
  color: #5769b4;
  user-select: none;
}

.my-30 {
  margin-top: 34px;
  margin-bottom: 34px;
}

.color-icon {
  color: #424282;
}

.size-storage {
  border: 1.5px solid #505050;
  border-radius: 16px;
  padding: 3px 8px;
  color: #5769b4;
  user-select: none;
}
