<mat-card *ngIf="Channel" class="w-100 mat-elevation-z10">
  <mat-card-content id="profile-avatar" class="rounded d-flex"
                    [style.minHeight.px]="getHeightImg()" [style.maxHeight.px]="getHeightImg() + 20">
    <div class="d-flex justify-content-between position-fixed">
      <button mat-icon-button id="toggleForm" [class.text-danger]="form" [class.text-white-50]="!form"
              (click)="toggleForm()" *ngIf="User_Channel && User_Channel.id === Channel.id">
        <mat-icon id="editProfileButton">{{form ? 'close' : 'perm_identity'}}</mat-icon>
      </button>
      <button mat-icon-button class="text-danger" id="buttonClose" (click)="closeAllVideos()">
        <mat-icon id="closeAllVideos" inline>close</mat-icon>
      </button>
    </div>
    <div class="f-bottom d-flex align-self-end justify-content-start">
      <span class="font-weight-light f-username align-self-center" (dblclick)="moreStats = !moreStats"
            [style.fontSize.px]="Channel.user.username.length >= 20 || getToggleSidebar() ? 26 : 32">
        <b>#</b>{{Channel.user.username}}</span>
    </div>
  </mat-card-content>
  <mat-card-actions class="mb-0 py-0" [style.height.px]="actionsHeight">
    <mat-list *ngIf="!moreStats && statsChannel">
      <mat-list-item>
        <app-profile-list-info statsName="Likes" [icon]="'thumb_up'" class="w-100"
                               [statsDetail]="statsChannel.advanced_stats.likes"></app-profile-list-info>
      </mat-list-item>
      <mat-list-item>
        <app-profile-list-info statsName="Vistas" [icon]="'visibility'" class="w-100"
                               [statsDetail]="statsChannel.advanced_stats.views"></app-profile-list-info>
      </mat-list-item>
      <mat-list-item>
        <app-profile-list-info statsName="Descargas" [icon]="'get_app'" class="w-100"
                               [statsDetail]="statsChannel.advanced_stats.downloads"></app-profile-list-info>
      </mat-list-item>
    </mat-list>
    <div class="d-flex justify-content-between mx-4" *ngIf="moreStats && statsChannel">
      <div class="d-flex flex-column justify-content-center">
        <div class="align-self-center mb-2 counter-stats">
          <mat-icon color="primary" inline>thumb_up</mat-icon>
        </div>
        <h3 class="counter">{{statsChannel.stats.likes | statsFilter | number:'.0-2'}}
          {{statsChannel.stats.likes > 1000 ? ' k' : ''}}</h3>
      </div>
      <div class="d-flex flex-column justify-content-center">
        <div class="align-self-center mb-2 counter-stats">
          <mat-icon color="primary" inline>visibility</mat-icon>
        </div>
        <h3 class="counter">{{statsChannel.stats.views | statsFilter | number:'.0-2'}}
          {{statsChannel.stats.views > 1000 ? ' k' : ''}}</h3>
      </div>
      <div class="d-flex flex-column justify-content-center">
        <div class="align-self-center mb-2 counter-stats ">
          <mat-icon color="primary" inline>get_app</mat-icon>
        </div>
        <h3 class="counter">{{statsChannel.stats.downloads | statsFilter | number:'.0-2'}}
          {{statsChannel.stats.downloads > 1000 ? ' k' : ''}}</h3>
      </div>
    </div>
    <div class="d-flex flex-column justify-content-center mx-4 mt-2" *ngIf="moreStats">
      <div class="align-self-center mb-2">
        <span class="font-weight-light size-storage">
          {{statsChannel.storage_size[1][0] + ' ' + statsChannel.storage_size[1][1]}} / 5 GB</span>
      </div>
      <mat-progress-bar color="primary" mode="determinate" matTooltipPosition="before"
                        matTooltip="{{statsChannel.storage_size[0] / 5 | percent:'.0-2'}}"
                        [value]="statsChannel.storage_size[0] * 100 / 5">
      </mat-progress-bar>
    </div>
  </mat-card-actions>
</mat-card>
