section {
  height: 100vh;
  margin-top: -24px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.center {
  align-self: center;
}

table {
  width: 100%;
  user-select: none;
}

tr.detail-row {
  height: 0;
}

.element-row td {
  border-bottom-width: 0;
}

.element-row:hover {
  cursor: pointer;
}

.element-detail {
  overflow: hidden;
  display: flex;
  padding: 0 1rem;
  border-radius: 6px 6px 0 0;
  user-select: text;
}

.poster-video, .info-video {
  width: 49% !important;
  align-self: center;
  align-items: center;
}

.info-video {
  margin-top: 1rem;
}

.w-2 {
  width: 2px !important
}

.v-divider {
  max-height: 70%;
  margin: 30px 0;
}

.f-title-favorite {
  font: 400 30px/40px Roboto, "Helvetica Neue", sans-serif;
  transition: all .3s;
}

.f-Info {
  font: 400 24px/40px Roboto, "Helvetica Neue", sans-serif;
  transition: all .3s;
}

.gold-color {
  color: gold;
  position: relative;
  top: -4px;
  padding: .25rem .25rem 16px;
}

.mat-icon-button {
  font-size: 26px;
  width: 50px;
  height: 50px;
  border-width: 1px;
  border-style: solid;
}

.mt-filter {
  margin-top: 13px;
}

@media all and (max-width: 575.98px) {
  .flex-sm-column {
    -ms-flex-direction: column !important;
    flex-direction: column !important
  }

  .justify-content-sm-center {
    -ms-flex-pack: center !important;
    justify-content: center !important
  }

  .justify-content-sm-end {
    -ms-flex-pack: end !important;
    justify-content: flex-end !important
  }

  fa-icon.gold-color {
    font-size: 12px;
  }

}

@media all and (max-width: 630px) {
  .f-title-favorite {
    font: 400 26px/36px Roboto, "Helvetica Neue", sans-serif;
  }
}

@media all and (min-width: 920px) {
  .justify-content-lg-between {
    -ms-flex-pack: justify !important;
    justify-content: space-between !important
  }
}


@media all and (max-width: 991.98px) {
  .v-divider {
    display: none !important;
  }

  .poster-video, .info-video {
    width: 90% !important;
  }
}

@media (min-width: 992px) {
  .poster-video, .info-video {
    padding: 0 1.5rem 1.5rem;
  }
}
