table {
  width: 100%;
  user-select: none;
}

tr.detail-row {
  height: 0;
}

tr.element-row:not(.expanded-row):hover {
  background: #e1e1e1;
}

tr.element-row:not(.expanded-row):active {
  background: #efefef;
}

.element-row td {
  border-bottom-width: 0;
}

.element-row:hover {
  cursor: pointer;
}

.element-detail {
  overflow: hidden;
  display: flex;
  background: #e8e8e8;
  padding: 0 30px;
  border-radius: 6px 6px 0 0;
  user-select: text;
}

.element-description {
  padding: 16px;
}

.element-description-attribution {
  opacity: 0.5;
}

.w-49 {
  width: 49% !important
}

.w-2 {
  width: 2px !important
}

.v-divider {
  max-height: 70%;
  margin: 30px 0;
}
