<mat-card>
  <table mat-table [dataSource]="dataSource" multiTemplateDataRows matSort>
    <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
      <th mat-header-cell *matHeaderCellDef mat-sort-header><b>{{column | uppercase}}</b>
      </th>
      <td mat-cell *matCellDef="let element"> {{element[column] | titlecase}} </td>
    </ng-container>

    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
        <div class="element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
          <div class="d-flex mx-5">
            <div class="w-49 px-5 py-2">
              <app-profile-poster-video class="mat-elevation-z5"></app-profile-poster-video>
            </div>
            <div class="w-2 h-auto bg-secondary py-5 v-divider"></div>
            <div class="w-49 px-5 py-3">
              <div class="d-flex flex-column pl-2 p-absolute">
                <div class="d-flex">
                  <h3 class="mr-2">Test Video #1</h3>
                  <mat-chip-list>
                    <mat-chip color="primary" selected>
                      <fa-icon [icon]="faGamepad"></fa-icon>
                    </mat-chip>
                  </mat-chip-list>
                </div>
                <h6>Viernes, 17 de Abril de 2020, 8:08 PM</h6>
                <mat-chip-list>
                  <mat-chip color="primary" class="w-auto p-1" selected>
                    <fa-icon class="mx-2" [icon]="faThumbsUp"></fa-icon>
                    <span class="mr-1">10.5k</span>
                  </mat-chip>
                  <mat-chip color="primary" class="w-auto p-1" selected>
                    <fa-icon class="mx-2" [icon]="faEye"></fa-icon>
                    <span class="mr-1">10.5k</span>
                  </mat-chip>
                  <mat-chip color="primary" class="w-auto p-1" selected>
                    <fa-icon class="mx-2" [icon]="faComment"></fa-icon>
                    <span class="mr-1">10.5k</span>
                  </mat-chip>
                </mat-chip-list>
                <p class="pt-3 text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam
                  asperiores deleniti deserunt
                  doloremque dolorum error fugiat ipsum magni nam numquam odio odit optio possimus quaerat, qui
                  quisquam, quod sed ut!</p>
              </div>
            </div>
          </div>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
        class="element-row"
        [class.expanded-row]="expandedElement === element"
        (click)="expandedElement = expandedElement === element ? null : element">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
  </table>

  <mat-paginator [hidePageSize]="true" [pageSize]="4" [showFirstLastButtons]="true"></mat-paginator>
</mat-card>
