<section id="chat" class="chat-container">
  <div id="menu-chat" class="menu-bar" (dblclick)="toMinimizing()" [matTooltip]="getRoughCopy()"
       [matTooltipDisabled]="checkTextArea()" matTooltipPosition="above" matTooltipShowDelay="300"
       matTooltipClass="font-weight-light mat-elevation-z5" matTooltipHideDelay="150">
    <div class="d-flex justify-content-start">
      <h1 class="title-chat">@Bot_DeepMedia</h1>
      <div *ngIf="typing" id="interaction" class="d-flex interaction">
        <div class="preloader-stage">
          <div class="dot-elastic"></div>
        </div>
      </div>
    </div>
    <div class="navigation">
      <div class="icon" (click)="toMinimizing()">
        <fa-icon [icon]="toggleMinimize ? faAngleDown : faAngleUp"></fa-icon>
      </div>
      <div class="icon" (click)="toClose()">
        <fa-icon [icon]="faTimes"></fa-icon>
      </div>
    </div>
  </div>
  <div id="msg-container" class="msg-container customized-scroll d-flex flex-column-reverse">
    <app-bot-msg (commandEmitter)="catchCommand($event)" [text]="msg.text" [type]="msg.type"
                 *ngFor="let msg of getStackMessages()"></app-bot-msg>
  </div>
  <div id="chat-form" class="chat-form">
    <form [formGroup]="botForm" (ngSubmit)="onSubmit()" class="form-inline d-flex justify-content-between">
      <textarea #textarea formControlName="body" class="form-control flex-grow-1 customized-scroll" rows="1"
                required (keypress)="showIndicator()"></textarea>
      <div class="d-flex justify-content-end pr-1 button-group">
        <button mat-icon-button type="button" class="mr-1" (click)="toggleCommands()" matTooltip="Comandos"
                [matTooltipDisabled]="toggleCommand" matTooltipPosition="above" matTooltipShowDelay="300"
                matTooltipClass="font-weight-light mat-elevation-z5" matTooltipHideDelay="150">
          <mat-icon #commandBtn class="text-white">format_list_bulleted</mat-icon>
        </button>
        <button mat-icon-button type="submit" [disabled]="botForm.invalid">
          <mat-icon [className]="textarea.value.length === 0 ? 'text-white-80' : 'text-white'">send</mat-icon>
        </button>
      </div>
    </form>
  </div>
  <div id="commands" class="commands">
    <ul class="commands-list">
      <li *ngFor="let command of inputCommands" (click)="emitCommand(command)">
        <div class="command"
             *ngIf="(command.can === 'Admin' && User && User.user.role !== 'ROLE_USER') || command.can === 'Everyone'">
          {{command.name}}</div>
      </li>
    </ul>
  </div>
</section>
