section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

* {
  user-select: none;
}

.center {
  align-self: center;
}

.border-welcome {
  border: 2px solid #90CAF9;
}

.mat-icon-button {
  font-size: 60px;
  width: 80px;
  height: 80px;
  background: transparent;
  border-width: 2px;
  border-style: solid;
}
