section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

* {
  user-select: none;
}

.center {
  align-self: center;
}

.border-welcome {
  border: 2px solid #90CAF9;
}

.mat-icon-button {
  font-size: 60px;
  width: 80px;
  height: 80px;
  background: transparent;
  border-width: 2px;
  border-style: solid;
}

.home-title {
  font: 400 34px/40px Roboto, "Helvetica Neue", sans-serif;
}

@media all and (min-width: 768px) {
  .home-title {
    font: 400 50px/72px Roboto, "Helvetica Neue", sans-serif;
  }
}

@media all and (min-width: 992px) {
  .home-title {
    font: 400 50px/72px Roboto, "Helvetica Neue", sans-serif;
  }
}

@media all and (min-width: 1200px) {
  .home-title {
    font: 400 62px/84px Roboto, "Helvetica Neue", sans-serif;
  }
}
