.background-gradient {
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  transition: all .5s ease-in-out;
}

//#042937, #044250, #045669, #047282, #077d9b, #04a4b4, #0898cd, #d7d7d7

.p-sidebar {
  padding-left: 70px;
  transition: all .4s ease-in-out;
}
