<mat-grid-list cols="3" class="m-grid-list">
  <mat-grid-tile [colspan]="2" [rowspan]="1">
    <video class="w-100 h-auto" src="../../../assets/video/video1.mp4" preload="auto" controls="controls"></video>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <div class="d-flex flex-column pl-2 p-absolute">
      <div class="d-flex">
        <h3 class="mr-2">Test Video #1</h3>
        <mat-chip-list>
          <mat-chip color="primary" selected>
            <fa-icon [icon]="faGamepad"></fa-icon>
          </mat-chip>
        </mat-chip-list>
      </div>
      <h6>Viernes, 17 de Abril de 2020, 8:08 PM</h6>
      <mat-chip-list>
        <mat-chip color="primary" class="w-auto p-1" selected>
          <fa-icon class="mx-2" [icon]="faThumbsUp"></fa-icon>
          <span class="mr-1">10.5k</span>
        </mat-chip>
        <mat-chip color="primary" class="w-auto p-1" selected>
          <fa-icon class="mx-2" [icon]="faEye"></fa-icon>
          <span class="mr-1">10.5k</span>
        </mat-chip>
        <mat-chip color="primary" class="w-auto p-1" selected>
          <fa-icon class="mx-2" [icon]="faComment"></fa-icon>
          <span class="mr-1">10.5k</span>
        </mat-chip>
      </mat-chip-list>
    </div>
  </mat-grid-tile>
</mat-grid-list>

