* {
  text-decoration: none !important;
  outline: none;
}

.comment-item {
  display: flex;
  margin: 16px 16px 0 16px;
  padding: 12px;
  border-radius: 8px;
}

.comments-container {
  overflow-y: scroll;
  min-height: 300px;
  max-height: 445px;
  padding: 5px;
  transition: all .5s;
}

.btn-send{
  position: relative;
  left: 5px;
}

.mat-icon-button {
  margin-top: 5px;
  font-size: 18px;
  border: 1px solid;
}

.mat-raised-button {
  font-size: 20px;
}
