<div class="d-flex flex-column" [style.maxHeight.px]="maxHeight">
  <div id="listComments" class="comments-container customized-scroll d-flex flex-column"
       [style.height.px]="User_Channel ? minHeight : maxHeight">
    <div *ngIf="Comments?.length > 0">
      <div class="mat-elevation-z4 comment-item" *ngFor="let comment of Comments">
        <p class="mb-0">
          <span class="font-weight-normal">{{comment.body}}</span>
          <span class="text-muted font-weight-bold">&nbsp;//&nbsp;</span>
          <span class="font-weight-normal" [routerLink]="['/auth/profile',comment.user_id]"
                [class.link-profile-light]="currentTheme.theme === 'light-theme'"
                [class.link-profile-dark]="currentTheme.theme === 'dark-theme'">
          <b>#</b>{{comment.user.username}}
      </span>
        </p>
      </div>
    </div>
    <span class="text-center" *ngIf="Comments?.length === 0">No Hay Comentarios Disponibles.</span>
  </div>
  <button *ngIf="!showPostForm && User_Channel" mat-icon-button color="primary" class="align-self-end"
          matTooltip="Nuevo Comentario" matTooltipPosition="left" (click)="showPostForm = !showPostForm;">
    <mat-icon class="pb-1">insert_comment</mat-icon>
  </button>
  <form [formGroup]="postCommentForm" *ngIf="showPostForm" (ngSubmit)="onSubmit()">
    <div class="d-flex flex-column" [style.maxHeight.px]="190">
      <mat-form-field appearance="outline">
        <mat-label>Nuevo Comentario</mat-label>
        <textarea matInput cdkTextareaAutosize #comment formControlName="body" required maxlength="150"
                  [rows]="4" [style.resize]="'none'">
              </textarea>
        <mat-hint align="end">{{comment.value.length}} / 150</mat-hint>
        <mat-error *ngIf="checkValid('body')">{{checkRequired('body')}}</mat-error>
      </mat-form-field>
      <div class="d-flex justify-content-around">
        <button mat-raised-button color="warn" type="reset" class="w-25"
                (click)="showPostForm = !showPostForm; postCommentForm.reset();">
          <mat-icon>close</mat-icon>
        </button>
        <button mat-raised-button color="primary" type="submit" class="w-25">
          <mat-icon class="btn-send">send</mat-icon>
        </button>
      </div>
    </div>
  </form>
</div>


