section {
  height: 100vh;
  margin-top: -24px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.center {
  align-self: center;
}

.f-title-form {
  font: 400 32px/40px Roboto, "Helvetica Neue", sans-serif;
}

.btn-recover, .btn-login {
  border-radius: 16px;
}

.card-main {
  display: flex;
  flex-direction: column;
  margin: 0 14rem;
  flex: 1 0 66.66%;
}

.w-45 {
  width: 45% !important;
}

.new-password {
  padding: 6px 12px;
  margin: 0;
  border: 1px solid #b4b4b4;
  border-radius: 8px;
  font: 400 22px/40px Roboto, "Helvetica Neue", sans-serif;
}

@media all and (max-width: 575.98px) {
  .flex-sm-column {
    display: -ms-flexbox !important;
    display: flex !important;
    flex-direction: column !important;
  }

  .card-main {
    margin: 3rem 2rem;
  }

  .f-title-form {
    font: 400 22px/32px Roboto, "Helvetica Neue", sans-serif;
    width: max-content;
  }

  .w-45 {
    width: 100% !important;
  }

  h6.align-self-center {
    font-size: 14px;
  }

  .new-password {
    font: 400 18px/32px Roboto, "Helvetica Neue", sans-serif;
    width: max-content;
  }
}

@media all and (min-width: 575.98px) {
  .card-main {
    margin: 3rem 2rem;
  }

  .f-title-form {
    font: 400 26px/32px Roboto, "Helvetica Neue", sans-serif;
    width: max-content;
  }

  .w-45 {
    width: 100% !important;
  }
}

