<section>
  <div class="main">
    <div class="center">
      <mat-card *ngIf="randomNumbers" class="mx-10 mat-elevation-z15">
        <mat-card-title class="d-flex justify-content-center">
          <h1 class="pl-3 f-title-form">
            <fa-icon [icon]="faLock" [classes]="['p-1', 'mt-1']"></fa-icon>&nbsp;|&nbsp;Recuperar Contraseña
          </h1>
        </mat-card-title>
        <form *ngIf="!passwordRestored" [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
          <mat-card-content>
            <div class="d-flex">
              <div class="col">
                <mat-form-field class="w-100 mt-3" appearance="outline">
                  <mat-label>Correo Electrónico</mat-label>
                  <input matInput type="email" formControlName="email" required email autocomplete="username">
                  <mat-error *ngIf="checkValid('email')">{{checkRequired('email')}}</mat-error>
                  <mat-error *ngIf="checkValid('email')">{{checkEmail('email')}}</mat-error>
                </mat-form-field>
                <div class="d-flex justify-content-around p-2 flex-column">
                  <h6 class="">Estas palabras deben corresponder con las de su <b>Lista Secreta</b>, en el orden que
                    se le indica.</h6>
                  <div class="d-flex justify-content-around mt-2">
                    <mat-form-field appearance="outline" class="mx-2 w-45">
                      <mat-label>Palabra #{{randomNumbers[0] + 1}}</mat-label>
                      <input matInput type="text" formControlName="first_word" required>
                      <mat-error *ngIf="checkValid('first_word')">{{checkRequired('first_word')}}</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="mx-2 w-45">
                      <mat-label>Palabra #{{randomNumbers[1] + 1}}</mat-label>
                      <input matInput type="text" formControlName="second_word" required>
                      <mat-error *ngIf="checkValid('second_word')">{{checkRequired('second_word')}}</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="mx-2 w-45">
                      <mat-label>Palabra #{{randomNumbers[2] + 1}}</mat-label>
                      <input matInput type="text" formControlName="third_word" required>
                      <mat-error *ngIf="checkValid('third_word')">{{checkRequired('third_word')}}</mat-error>
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
          </mat-card-content>
          <mat-card-actions>
            <div class="d-flex justify-content-around">
              <button [disabled]="resetPasswordForm.invalid" mat-raised-button color="primary" type="submit"
                      class="btn-recover">{{'Recuperar' | uppercase}}
              </button>
            </div>
          </mat-card-actions>
        </form>
        <div *ngIf="passwordRestored">
          <mat-card-content>
            <div class="d-flex flex-column justify-content-center p-2">
              <h6 class=" align-self-center justify-content-center">
                Esta es su <b>Nueva Contraseña</b>.
              </h6>
              <div class="d-flex justify-content-center">
                <p class="new-password w-auto align-self-center justify-content-center my-3 mr-3">
                  {{newPassword}}</p>
                <button class="align-self-center" mat-icon-button type="button" matTooltip="Copiar al portapapeles"
                        matTooltipPosition="after" [cdkCopyToClipboard]="newPassword">
                  <fa-icon [icon]="faCopy"></fa-icon>
                </button>
              </div>
              <h6 class=" align-self-center justify-content-center">
                La nueva contraseña solo será válida por la próxima <b>hora</b>, debera cambiarla una vez iniciada la
                <b>sesión</b>.
              </h6>
            </div>
          </mat-card-content>
          <mat-card-actions>
            <div class="d-flex justify-content-around">
              <button mat-raised-button color="primary" type="button" class="btn-login"
                      [routerLink]="['/auth/login']">{{'Iniciar Sesión' | uppercase}}
              </button>
            </div>
          </mat-card-actions>
        </div>
      </mat-card>
    </div>
  </div>
</section>
