section {
  height: 100vh;
  margin-top: -24px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.center {
  align-self: center;
}

.mx-10 {
  margin: 0 200px;
}

.f-title-form {
  font: 400 32px/40px Roboto, "Helvetica Neue", sans-serif;
}

.btn-recover, .btn-login {
  border-radius: 16px;
}

.w-45 {
  width: 45% !important;
}

.new-password {
  padding: 6px 12px;
  margin: 0;
  border: 1px solid #b4b4b4;
  border-radius: 8px;
  font: 400 22px/40px Roboto, "Helvetica Neue", sans-serif;
}

