<!-- Utils - Start -->
<input type="checkbox" id="check">
<label for="check" id="labelcheck">
  <fa-icon [icon]="faBars" id="checkbtn" (click)="toRight()"></fa-icon>
  <fa-icon [icon]="faTimes" id="checkbtncancel" (click)="toLeft()"></fa-icon>
</label>
<!-- Utils - End -->

<!-- Sidebar - Start -->
<div class="sidebar">
  <header>Streaming | UCi</header>
  <ul>
    <li><a href="#">
      <fa-icon [icon]="faQrcode"></fa-icon>
      Inicio</a></li>
    <li><a class="link-categories" (click)="slideToggle()">
      <fa-icon [icon]="faLink"></fa-icon>
      <span>Categorias</span>
      <fa-icon [icon]="faAngleDown" id="Dropdown"></fa-icon>
    </a>
      <div class="dropdown-sidebar">
        <ul>
          <li><a [routerLink]="['']"><i></i>Action</a></li>
          <li><a [routerLink]="['']"><i></i>Action</a></li>
          <li><a [routerLink]="['']"><i></i>Action</a></li>
          <li><a [routerLink]="['']"><i></i>Action</a></li>
          <li><a [routerLink]="['']"><i></i>Action</a></li>
          <li><a [routerLink]="['']"><i></i>Action</a></li>
        </ul>
      </div>
    </li>
    <li><a [routerLink]="['']">
      <fa-icon [icon]="faStream"></fa-icon>
      Perfil</a></li>
    <li><a [routerLink]="['']">
      <fa-icon [icon]="faCalendarWeek"></fa-icon>
      Favoritos</a></li>
    <li><a [routerLink]="['']">
      <fa-icon [icon]="faQuestionCircle"></fa-icon>
      Buscar</a></li>
    <li><a [routerLink]="['']">
      <fa-icon [icon]="faSlidersH"></fa-icon>
      Aplicaciones</a></li>
    <li><a [routerLink]="['']">
      <fa-icon [icon]="faEnvelope"></fa-icon>
      Nuevo Video</a></li>
    <li><a [routerLink]="['']">
      <fa-icon [icon]="faEnvelope"></fa-icon>
      Cerrar Sesion</a></li>
  </ul>
</div>
<!-- Sidebar - End -->

<!-- Media-Links - Start -->
<section class="social">
  <div><a class="social-link">
    <img id="facebook" src="../../../assets/img/ico/facebook.ico" alt="facebook">
  </a></div>
  <div><a class="social-link">
    <img id="linkedin" src="../../../assets/img/ico/linkedin.ico" alt="linkedin">
  </a></div>
  <div><a class="social-link">
    <img id="twitter" src="../../../assets/img/ico/twitter.ico" alt="twitter">
  </a></div>
</section>
<!-- Media-Links - End -->
