<div *ngIf="loading" class="d-flex justify-content-center mt-3">
  <div class="preloader-stage">
    <div class="dot-flashing"></div>
  </div>
</div>
<div *ngIf="!loading" id="playList" cdkDropList class="list customized-scroll" (cdkDropListDropped)="drop($event)"
     [style.maxHeight.px]="getMaxHeight()">
  <div *ngIf="playList.length === 0" class="d-flex justify-content-center align-content-center">
    <span class="font-weight-bold align-self-center mh-text pt-2">No hay Videos Disponibles</span>
  </div>
  <div *ngIf="playList.length > 0">
    <div class="box" *ngFor="let video of playList; let i = index;" cdkDrag cdkDragLockAxis="y"
         [class.border-bottom-light]="currentTheme.theme === 'light-theme'"
         [class.border-bottom-dark]="currentTheme.theme === 'dark-theme'">
      <div class="video-placeholder" *cdkDragPlaceholder
           [class.video-placeholder-light]="currentTheme.theme === 'light-theme'"
           [class.video-placeholder-dark]="currentTheme.theme === 'dark-theme'"></div>
      <div *cdkDragPreview class="d-flex"
           [class.poster-light]="currentTheme.theme === 'light-theme'"
           [class.poster-dark]="currentTheme.theme === 'dark-theme'">
        <img [src]="URL_STORAGE + video.poster.path |  saveDom"
             [alt]="video.title" class="img-fluid rounded drag-item-img">
        <div *ngIf="isFavorite(video)" class="position-absolute favorite-star">
          <fa-icon [icon]="faStar"></fa-icon>
        </div>
        <div class="position-absolute overlay-info-drag-video"
             [class.text-white]="currentTheme.theme === 'light-theme'"
             [class.text-white-80]="currentTheme.theme === 'dark-theme'">
          <div class="d-flex justify-content-between align-self-center">
            <span class="counter-stats ml-2">{{video.likes_count}}
              <mat-icon class="mr-2">thumb_up</mat-icon></span>
            <span class="counter-stats">{{video.comments_count}}
              <mat-icon class="mr-2">comment</mat-icon></span>
            <span class="counter-stats">{{video.views_count}}
              <mat-icon class="mr-2">visibility</mat-icon></span>
            <span class="counter-stats mr-2">{{video.downloads_count}}
              <mat-icon>get_app</mat-icon></span>
          </div>
        </div>
      </div>
      <div class="d-flex overflow-hidden">
        <span class="align-self-center mh-text"><b>{{i + 1}} - </b>{{video.title}}</span>
      </div>
      <div class="d-flex">
        <span class="align-self-center">{{video.duration | timer}}</span>
        <button mat-button color="primary" (click)="playVideo(video)">
          <fa-icon [icon]="faPlayCircle"></fa-icon>
        </button>
        <app-category-chip [Category]="video.category" [SizeIcon]="12" [Padding]="[0,8,0,8]"></app-category-chip>
      </div>
    </div>
  </div>
</div>
