<div *ngIf="started" class="d-flex">
  <div class="percent-counter align-self-center">
    <span *ngIf="!saving" class="align-self-center">{{percent || 0}}&nbsp;%</span>
    <fa-icon *ngIf="saving" [classes]="['align-self-center']" [icon]="faFileDownload" size="2x"></fa-icon>
  </div>
  <div class="d-flex flex-column flex-grow-1 ml-2 p-2">
    <h1 class="title-video">{{data.title}}</h1>
    <div class="w-100">
      <div class="d-flex pl-1 text-lightblue">
        <span>{{currentLoad || 0 | size}}</span>
        <span>&nbsp;/&nbsp;</span>
        <span>{{totalLoad || 0 | size}}</span>
      </div>
      <mat-progress-bar [value]="percent || 0" color="primary" mode="determinate"></mat-progress-bar>
    </div>
  </div>
</div>
