.mat-stepper-horizontal {
  margin-top: 8px;
  user-select: none !important;
}

.mat-form-field {
  margin-top: 16px;
}

.m-content {
  margin: 0 175px;
}

.m-img {
  margin: 0 165px;
}

.m-input-file {
  margin: 0 60px;
}

.poster-img {
  max-width: 100%;
}

.b-video {
  max-width: 100%;
}

.mat-icon-button {
  font-size: 45px;
  width: 50px;
  height: 50px;
}

/* <!--Custom File Input--!> */
.custom-file {
  margin: 20px 0 0 0;
}

.custom-file-label {
  padding-top: 15.5px;
  border-radius: 6px;
  height: 51px !important;
  background: transparent !important;
  box-shadow: none !important;
  transition: all .3s ease;
  overflow: hidden;
  z-index: initial;
}

.custom-file-label:hover {
  border-radius: 6px;
  transition: all .3s ease;
  padding-top: 15px;
}

.custom-file-label:focus, .custom-file-label:active, .custom-file-label:after {
  border-radius: 6px;
  transition: all .3s ease;
}

.custom-file-label::after {
  content: none !important;
}

.custom-file-input:focus ~ {

  .custom-file-label {
    border-radius: 6px;
    transition: all .3s ease;
  }

}

.header-end-step {
  transition: all .4s ease;
}

.transition-all {
  transition: all .5s ease;
}
