.mat-stepper-horizontal {
  margin-top: 8px;
  user-select: none !important;
}

.mat-form-field {
  margin-top: 16px;
}

.info-container {
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-direction: column !important;
  flex-direction: column !important;
  width: 100% !important;
}

.poster-img {
  width: 100% !important;
  border-radius: .25rem !important;
  align-self: center;
}

.header-end-step {
  font: 300 30px/48px Roboto, "Helvetica Neue", sans-serif;
  transition: all .4s ease;
  text-align: center;
  align-self: center;
}

.text-option {
  font: 300 26px/36px Roboto, "Helvetica Neue", sans-serif;
  transition: all .4s ease;
}

.transition-all {
  transition: all .5s ease;
}

.mat-icon-button {
  font-size: 45px;
  width: 50px;
  height: 50px;
}

/* <!--Custom File Input--!> */
.custom-file {
  margin: 20px 0 0 0;
  align-self: center;
}

.custom-file-label {
  padding-top: 15.5px;
  border-radius: 6px;
  height: 51px !important;
  background: transparent !important;
  box-shadow: none !important;
  transition: all .3s ease;
  overflow: hidden;
  z-index: initial;
}

.custom-file-label:hover {
  border-radius: 6px;
  transition: all .3s ease;
  padding-top: 15px;
}

.custom-file-label:focus, .custom-file-label:active, .custom-file-label:after {
  border-radius: 6px;
  transition: all .3s ease;
}

.custom-file-label::after {
  content: none !important;
}

.custom-file-input:focus ~ {

  .custom-file-label {
    border-radius: 6px;
    transition: all .3s ease;
  }

}

/* <!--Custom File Input End--!> */

@media all and (max-width: 575.98px) {
  .flex-sm-column {
    -ms-flex-direction: column !important;
    flex-direction: column !important;
  }

  .header-end-step {
    font: 300 21px/36px Roboto, "Helvetica Neue", sans-serif;
  }

  .text-option {
    font: 300 18px/32px Roboto, "Helvetica Neue", sans-serif;
    transition: all .4s ease;
  }
}

@media all and (min-width: 576px) and (max-width: 767.98px) {
  .header-end-step {
    font: 300 21px/36px Roboto, "Helvetica Neue", sans-serif;
  }

  .text-option {
    font: 300 18px/32px Roboto, "Helvetica Neue", sans-serif;
    transition: all .4s ease;
  }
}

@media all and (min-width: 768px) {
  .poster-img, .custom-file {
    width: 80% !important;
  }
}


@media all and (min-width: 992px) {
  .info-container {
    width: 75% !important;
    align-self: center;
  }
  .poster-img {
    width: 55% !important;
  }
  .custom-file {
    width: 65% !important;
  }
}

@media all and (min-width: 1200px) {
  .info-container {
    width: 65% !important;
    align-self: center;
  }
  .poster-img {
    width: 50% !important;
  }
  .custom-file {
    width: 60% !important;
  }
}

@media all and (min-width: 1920px) {
  .info-container {
    width: 45% !important;
    align-self: center;
  }
  .poster-img {
    width: 40% !important;
  }
  .custom-file {
    width: 50% !important;
  }
}
