/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@font-face {
  font-family: 'Relaway-Regular';
  src: url("assets/fonts/Raleway-Regular.ttf");
}

* {
  outline: none !important;
  list-style: none !important;
  text-decoration: none !important;
  font-family: Relaway-Regular, sans-serif;
}

//--------- SCROLL ----------------------------------------------------------\\

.customized-scroll {
  max-height: 100vh;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: auto;
}

.customized-scroll::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.customized-scroll::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

.customized-scroll::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

.customized-scroll::-webkit-scrollbar-thumb:active {
  background-color: #999999;
}
