.f-title-card {
  font: 400 28px/40px Roboto, "Helvetica Neue", sans-serif;
  transition: all .3s;
}

mat-card-actions {
  margin-bottom: 0 !important;
  padding: 0 !important;
}

.h-button {
  height: 35px;
  transition: all 0.5s ease;
}

#closeAllVideos {
  font-size: 28px;
  transition: all 0.5s ease;
}

